COPYING
INSTALL
Makefile
Makefile.in
Makefile.in.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
doc/*/imagination.xml
doc/*/html
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
po/POTFILES
po/stamp-it
src/imagination
.libs
.deps
*.o
*.lo
*.la
*.gmo
html-build.stamp
imagination.desktop
po/.intltool-merge-cache
